<section class="input-section">
    <form class="input-fields">
        <div>
            <mat-form-field>
                <mat-label>Select Country</mat-label>
                <mat-select [(ngModel)]="selectedCountry" name="coutry">
                  <mat-option *ngFor="let c of countryList$" [value]="c.cca2">
                    {{c.name.common}}
                </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-error *ngIf="selectError">Please select a Country</mat-error>
        </div>

        <div>
            <button mat-raised-button (click)="getAllCountryDetails()">Submit</button>
        </div>
    </form>

</section>

<section *ngIf="countryDetails$.length > 0">
    <app-country-details [countryDetail]="countryDetails$"></app-country-details>
</section>
